

.hotNews__Grid {
  display: grid;
  grid-template-areas: 
  "item1 item2 item2"
  "item1 item3 item4";
  grid-gap: 3px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
}

.hotNews__Grid > div {
  overflow: hidden;
  flex: 1;
  position: relative;
  box-sizing: border-box;
}
.hotNews__Grid > div:hover img {
  transform: scale(1.01)
}
.hotNews__Grid .HotNews__Grid--text {
  box-sizing: border-box;
  z-index: 4;
}
.hotNews__Grid > div:nth-child(1){
  grid-area: item1;
  padding-bottom: 80%;
}
.hotNews__Grid > div:nth-child(1) .HotNews__Grid--text {
  padding: 30px;
}
.hotNews__Grid > div:not(:first-child) .HotNews__Grid--text {
  padding: 20px;
}
.hotNews__Grid > div:not(:first-child) .HotNews__Grid--text h5 {
  font-size: 20px;
}
.hotNews__Grid > div:nth-child(2){
  grid-area: item2;
  padding-bottom: 40%;
}
.hotNews__Grid > div:nth-child(2) .HotNews__Grid--text h5 {
  font-size: 20px;
}
.hotNews__Grid > div:nth-child(3){
  grid-area: item3;
  padding-bottom: 40%;
}
.hotNews__Grid > div:nth-child(4){
  grid-area: item4;
  padding-bottom: 40%;
}
.hotNews__Grid > div:nth-child(3) .HotNews__Grid--text h5,
.hotNews__Grid > div:nth-child(4) .HotNews__Grid--text h5 {
  font-size: 16px;
}